@charset "UTF-8";
body {

  background: #ecf0f1;
  padding: 0 1em 1em;
}
*{
  font-family: 'Raleway', sans-serif;
}
.row{
  margin-bottom:55px;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
  color:#B73225;
}

h2 {
  margin: 0 0 0.5em;
  color: #932432;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row {
  display: flex;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -0.5px rgb(0 0 0 / 18%);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #F3F3F3;
  color:#3C1874;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #F3F3F3;
  color:#3C1874;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  font-weight: 800;
  text-align: center;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background:#d9b9f7;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
#my_pdf_viewer{
  display: flex;
  justify-content: center;
}

#canvas_container {
  width: 800px;
  height: 450px;
  overflow: auto;
}

#canvas_container {
  background: #333;
  text-align: center;
  border: solid 3px;
}
.navigation_controls *{
  background-color: #e4e3e6;
  color: #684a9c;
  font-weight: 900;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.logout-cont{
  display: flex;
  justify-content: flex-end;
  padding: 15px;

}
.logout-cont button{
  border:none;
  background-color:#B73225;
  color:white;
  padding:5px 10px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
}